html{
scroll-behavior: smooth;
}
/* h2 in all page */
h2{
  font-family: cursive;
}
/* header */
/* nav styling */
nav {
  font-family: cursive;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(9 45 60);
  color: white;
  width: 100%;
  border-radius: .3rem;
  /* position: relative; */
  z-index: +1;
  
}
.navbar{
 position: fixed;
}
/* LOGO */

.logo img{

    width: 4rem;

}

/* NAVBAR MENU */

.menu {

    display: flex;

    gap: 1em;

    font-size: 1rem;
   margin-right: 2rem;
}

nav li:hover {

    background-color: #307c90;

    border-radius: .5rem;

    transition: .5s ease;

}

nav li {

    padding: .5rem .3rem;
      list-style: none;
    
}
.menu a{
    color: white;
    text-decoration: none;
   
}

/* ------------------------------------------------------------------------------------------------------------------------------------ */
/* hero image styling */
/* making grid to postion the brain photo to the left ot the main */
.hero{
    margin: 0;
    padding:3rem;
      box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,13rem);
    width: 100%;
    height: 100%;
  }
  .herocontainer{
    background:#307C90;

  }
/* specify the hero img position */
.scan{
   grid-area:1/1/4/2 ;
   justify-self: center;
   align-self: center;
}
.myname{
  display: none;
}
/* give the 2hero photos the same position and dimention,
the relative position is  a must here  */
/*  < حتى اجعل الصورتين تطبقان على بعضهما */
.scan .face{
    position:relative;
    width: 20rem;
    height:20rem;
    background: url("images/coding1.png");
    background-size:20rem ;
}
/* add animation to make the background photo that i assigned to ease in&out  
by add a befor content to the brevious images , added a background befor it and give it animation*/
.scan .face::before{
    content: '';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background: url("images/coding.png");
    background-size: 20rem;
    animation: brain 4s ease-in-out infinite;
  }
  /* add key frame to the move */
  /* وضع فترات الطول وتقسيمها على الزمن */
@keyframes brain{
    0%,100%
    {
        height: 0%;
    }
    50%
    {
        height: 100%;
    }
    
}
/* adding the line the sameway but after and making the background color not img */
.scan .face::after{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: .4rem;
    background:  #ccff00;;
    border-radius: 1rem;
    filter:drop-shadow(1rem 1rem 1rem  #ccff00 );
    animation:animate-line 4s ease-in-out infinite;
}
@keyframes animate-line{
    0%,100%
    {
        top: 0%;
    }
    50%
    {
        top:100%;
    }
}
.scan h3{
    text-transform: uppercase;
    font-size: 1.3em;
    margin-top: 1.5rem;
    letter-spacing: .2rem;
    text-align: center;
    /* margin-right:5rem; */
    color: rgb(205, 255, 3);

}

.scan{
    margin-left: 3rem;
}
/* end hero img transition */
/* -------------------------------------------------------------------------------------------------------------- */

/* the side section of the hero section */


.side{
grid-area: 1/2/4/4;
margin-top:5rem ;
color: #70486d;
display: grid;
grid-template-rows: repeat(3,1fr);
grid-template-columns: repeat(3,1fr);
align-items: flex-end;
gap:1.6rem
}
/* the glitching article effect */
#container {
    width: 70vw;
    margin: 0;
    /* justify-content: flex-end; */
   }
   .scanning{
    grid-area: 1/2/2/4;
   
      }
   /* article in the side */
   .first{
    grid-area: 2/1/3/4;
    align-self: start;
    justify-self: center;
    font-size:1.5rem;
    color:aliceblue;
    text-align: center;
    width: 55%;
   }

.side h1{
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;
    color: #fcff18;
      letter-spacing: 8px;
    font-family: 'Press Start 2P';
    font-weight: 400;
      margin: 0;
    line-height: 0;
    /*Animation*/
    
    animation: glitch1 2.5s infinite;
  }
  
  h1:nth-child(2) {
    color: #67f3da;
    animation: glitch2 2.5s infinite;
  }
  
  h1:nth-child(3) {
    color: #f16f6f;
    animation: glitch3 2.5s infinite;
  }
  /*Keyframes*/
  
  @keyframes glitch1 {
    0% {
      transform: none;
      opacity: 1;
    }
    7% {
      transform: skew(-0.5deg, -0.9deg);
      opacity: 0.75;
    }
    10% {
      transform: none;
      opacity: 1;
    }
    27% {
      transform: none;
      opacity: 1;
    }
    30% {
      transform: skew(0.8deg, -0.1deg);
      opacity: 0.75;
    }
    35% {
      transform: none;
      opacity: 1;
    }
    52% {
      transform: none;
      opacity: 1;
    }
    55% {
      transform: skew(-1deg, 0.2deg);
      opacity: 0.75;
    }
    50% {
      transform: none;
      opacity: 1;
    }
    72% {
      transform: none;
      opacity: 1;
    }
    75% {
      transform: skew(0.4deg, 1deg);
      opacity: 0.75;
    }
    80% {
      transform: none;
      opacity: 1;
    }
    100% {
      transform: none;
      opacity: 1;
    }
  }
  
  @keyframes glitch2 {
    0% {
      transform: none;
      opacity: 0.25;
    }
    7% {
      transform: translate(-2px, -3px);
      opacity: 0.5;
    }
    10% {
      transform: none;
      opacity: 0.25;
    }
    27% {
      transform: none;
      opacity: 0.25;
    }
    30% {
      transform: translate(-5px, -2px);
      opacity: 0.5;
    }
    35% {
      transform: none;
      opacity: 0.25;
    }
    52% {
      transform: none;
      opacity: 0.25;
    }
    55% {
      transform: translate(-5px, -1px);
      opacity: 0.5;
    }
    50% {
      transform: none;
      opacity: 0.25;
    }
    72% {
      transform: none;
      opacity: 0.25;
    }
    75% {
      transform: translate(-2px, -6px);
      opacity: 0.5;
    }
    80% {
      transform: none;
      opacity: 0.25;
    }
    100% {
      transform: none;
      opacity: 0.25;
    }
  }
  
  @keyframes glitch3 {
    0% {
      transform: none;
      opacity: 0.25;
    }
    7% {
      transform: translate(2px, 3px);
      opacity: 0.5;
    }
    10% {
      transform: none;
      opacity: 0.25;
    }
    27% {
      transform: none;
      opacity: 0.25;
    }
    30% {
      transform: translate(5px, 2px);
      opacity: 0.5;
    }
    35% {
      transform: none;
      opacity: 0.25;
    }
    52% {
      transform: none;
      opacity: 0.25;
    }
    55% {
      transform: translate(5px, 1px);
      opacity: 0.5;
    }
    50% {
      transform: none;
      opacity: 0.25;
    }
    72% {
      transform: none;
      opacity: 0.25;
    }
    75% {
      transform: translate(2px, 6px);
      opacity: 0.5;
    }
    80% {
      transform: none;
      opacity: 0.25;
    }
    100% {
      transform: none;
      opacity: 0.25;
    }
  }
/* the down arrow in hero section */
  .down img{
    width: 6rem;
  }
  .down img:hover{
    width: 150px;
    -webkit-filter: drop-shadow(5px 5px 5px #d8ef06);
    filter: drop-shadow(5px 5px 5px #d8ef06);
  }
  .down{
   grid-area:3/2/4/3 ;
   align-self: flex-end;
   justify-self: center;
  }

  /* --------------------------------------------------------------------------------------------------------------------------------*/
  /* about me section */
.aboutme{
 margin-top:8rem;
 margin-bottom: 8rem;

}
.aboutme article{
  font-size:1.5rem;
 }
/* .aboutme h2{
  font-size: 2.5rem;
} */
.aboutme{
  color:#307C90;
  font-size: 2rem;
}
.profileimg img{
  text-align: center;
  /* animation: glow 1s ease-in-out infinite alternate; */
  width:28rem;

	-webkit-filter: drop-shadow(0px 0px 4px#fbff00);
	-webkit-transition: all 1s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
}

  .glow {
  font-size: 2rem;
    color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}


@-webkit-keyframes glow {
  from{
    text-shadow: 0 0 20px #fff, 0 0 30px #087990, 0 0 40px #087990, 0 0 50px #087990, 0 0 60px #087990, 0 0 70px #087990, 0 0 80px #087990;
  }
  to {
    text-shadow: 0 0 10px #fff, 0 0 20px  #fff, 0 0 30px #fbff00, 0 0 40px #fbff00, 0 0 50px #fbff00, 0 0 60px #fbff00, 0 0 70px #fbff00;
  }
  
}

/* ------------------------------------------------------------------------------------------------------------------------------------ */
/* education section */
#education{
   
    color:white;
    padding-top: 2rem;

}
.background{
  /* background: #307C90; */
}

.edulist li{
  display: inline-block;
  
  /* margin-top: 3rem; */
}

.background img{
    width: 8rem;
    align-self:flex-start ;
    /* margin-bottom: .5rem; */
    /* position:relative */
    
}
.background h2{
  font-size: 1.5rem;
}
.background{
  color: white;
}

/* tables for experience ,work,skill */
table{
    /* border-radius: 5rem; */
    /* border:solid; */
    border-spacing: .5rem !important;
    /* padding: 5rem; */
    border-collapse: separate !important;
    
}
table td,th,tr{
    border-radius: .5rem;
    border: .2rem solid rgb(87, 164, 192);
    padding: 1rem 2rem 1rem 2rem;
    background-color: white;
    color:#307C90;
    }
.col-4{
    /* position: relative; */
    /* bottom:5rem;
    margin: 0;
    padding: 0; */
    text-align: center;

}
.col-4 a{
   padding: .5rem 2rem .5rem 2rem; 
}
.py-3{
    font-size: 1.5rem;
}
.edutext {
  display:inline-flex;
  gap: .4rem;
  
}
.card-btn{
  background-color: #027e97 !important;
}

/* cards mywork/my project and in footer*/
.card{
  text-align: center;
  border: #307c90;
}
.btn{
  background-color: #307C90;
}
.btn:hover{
  background-color: #67f3da;
}
.mywork h2{
  text-align: center;
  margin-top: 1rem;
margin-right: 9rem;
}
.mywork{
  margin-left: 9rem;
}

.card img{
  height:12rem;

}

.card-body{
  border:solid;
    border-top: hidden;
  border-color: #307C90;
  border-bottom-left-radius: 3rem;
}
.card-img-top{
  border:solid;
  border-top: hidden;
border-color: #307C90;
border-top-right-radius: 3rem;
}
.card-img-top:hover{
   box-shadow: .3rem .3rem #67f3da;
}
/* footer */

.footerlist li{
display: inline-block;
padding:2rem

}

footer{
  text-align: center;
}
.footerlist img{
    width: 2rem;
}
.footerlist p{
    font-size: large;
    font-weight: bold;
}
.footerlist img{
  width:2rem;
  height: 2rem;
}
.cardfooter{
  /* border: #307C90; */
  border-radius: 0 ;
  background-color: #307C90;
  color:white
}
/* ----------------------------------------------------------------------------------------------------------------------------------- */
.footerlist  img:hover{
  background-color:  #67f3da;
  box-shadow: .2rem .2rem white;
}
.background1,.background2,.background3{
  background-color: #087990;
  margin-top: 2rem;
  padding-top: 2rem;
}
.qulifiqation h1{
  font-size: 2rem;
  text-align: center;
  font-family: cursive;
  color:#307C90
}

/* reponsive media */
@media all and (max-width:1000px) {
  .hero {
  /* background-color: white; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
            }
   .first{
    /* color:#307C90; */
   font-size: 1rem;
    min-width: 14rem;
    text-align: center;
  }
  .side{
    margin-top: 0;
  }
     .glitch,.down{
    display: none;
    visibility: hidden;
      }
   .background{
    color:white
   }
   .scan .face{
       width: 14rem;
      height:14rem;
       background-size:14rem ;
}

.scan .face::before{
  background-size: 14rem;
  }
  
  .profileimg img{
    width:14rem;
    margin-left: 3rem;
  }
 .footerlist img{
    background-color: #307C90;
  }
  .cardfooter{
    background-color: white;
    color:#307C90;
    margin-right: 2rem;
    border: white;
  
  }
  .face h3{
    margin: 0;
  }
  .scan{
    margin-top: 10rem;
    margin-right: 4rem;
    
  }
  /* table */
  .container{
  width:7vw;
  margin: 0;
  padding: 0;
  font-size: .8rem;

  }
.side{
  margin: 0;
  display: flex;
  align-items: center;
}
.navbar li{
  font-size: .5rem;
}
 .aboutme h2{
  font-size: 1.5rem;
  margin-left: 7rem;
   }
  .aboutme article{
    min-width: 19rem;
    /* margin-left: 1rem; */
    font-size: 1rem;
     }
  .second {
  min-width:20rem;
  }
  .second h2{
    font-size: 1rem;
  }
.mywork{
  margin-left: 1rem;
 
color:#307C90
}
.card-title{
  margin-left: 2rem;
}
.one img{
  width: 4rem;
}
.mywork h2{
  margin-top: 2rem;
  margin-right:2rem
}
.break{
  display: none;
  visibility: hidden;
}
.hello h3{
  display: none;
}
.myname{
  display: block;
  font-size: .85rem;
}
.myname h3{
  font-weight: bold;
}
  }


 /*  */



.block h6{
display: inline-block;
}

/*  */
/* CSS reset */
.main,
.main::after,
.main::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.main { font-size: 62.5%; }

.main {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  position: relative;
}

/* Typography =======================*/

/* Headings */

/* Main heading for card's front cover */
.card-front__heading {
  font-size: 1.5rem;
  margin-top: .25rem;
}

/* Main heading for inside page */
.inside-page__heading { 
  padding-bottom: 1rem; 
  width: 100%;
}

/* Mixed */

/* For both inside page's main heading and 'view me' text on card front cover */
.inside-page__heading,
.card-front__text-view {
  font-size: 1.3rem;
  font-weight: 800;
  margin-top: .2rem;
}

.inside-page__heading--city,
.card-front__text-view--city { color: #307c90 }

.inside-page__heading--ski,
.card-front__text-view--ski { color: #307c90; }

.inside-page__heading--beach,
.card-front__text-view--beach { color:#307c90; }

.inside-page__heading--camping,
.card-front__text-view--camping { color:#307c90; }

/* Front cover */

.card-front__tp { color: #fafbfa; }

/* For pricing text on card front cover */
.card-front__text-price {
  font-size: 1.2rem;
  margin-top: -.2rem;
}

/* Back cover */

/* For inside page's body text */
.inside-page__text {
  color: #307c90;
}

/* Icons ===========================================*/

.card-front__icon {
  fill: #fafbfa;
  font-size: 3vw;
  height: 3.25rem;
  margin-top: -.5rem;
  width: 3.25rem;
}

/* Buttons =================================================*/

.inside-page__btn {
  background-color: transparent;
  border: 3px solid;
  border-radius: .5rem;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 2rem;
  overflow: hidden;
  padding: .7rem .75rem;
  position: relative;
  text-decoration: none;
  transition: all .3s ease;
  width: 90%;
  z-index: 10;
}

.inside-page__btn::before { 
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: scaleY(0);
  transition: all .3s ease;
  width: 100%;
  z-index: -1;
}

.inside-page__btn--city { 
  border-color: #307c90;
  color: #307c90;
}

.inside-page__btn--city::before { 
  background-color: #307c90;
}

.inside-page__btn--ski { 
  border-color: #307c90;
  color: #307c90;
}

.inside-page__btn--ski::before { 
  background-color: #307c90;
}

.inside-page__btn--beach { 
  border-color: #307c90;
  color: #307c90;
}

.inside-page__btn--beach::before { 
  background-color: #307c90;
}

.inside-page__btn--camping { 
  border-color: #307c90;
  color: #307c90;
}

.inside-page__btn--camping::before { 
  background-color: #307c90;
}

.inside-page__btn:hover { 
  color: #fafbfa;
}

.inside-page__btn:hover::before { 
  transform: scaleY(1);
}

/* Layout Structure=========================================*/

.main {
  /* background: linear-gradient(
    to bottom right,
    #eee8dd,
    #e3d9c6
  ); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

/* Container to hold all cards in one place */
.card-area {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-evenly;
  padding: 1rem;
}

/* Card ============================================*/

/* Area to hold an individual card */
.card-section {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

/* A container to hold the flip card and the inside page */
.cardfl {
  background-color: rgba(0,0,0, .05);
  box-shadow: -.1rem 1.7rem 6.6rem -3.2rem rgba(0,0,0,0.5);
  height: 15rem;
  position: relative;
  transition: all 1s ease;
  width: 15rem;
}

/* Flip card - covering both the front and inside front page */

/* An outer container to hold the flip card. This excludes the inside page */
.flip-card {
  height: 15rem;
  perspective: 100rem;
  position: absolute;
  right: 0;
  transition: all 1s ease;
  visibility: hidden;
  width: 15rem;
  z-index: 100;
}

/* The outer container's visibility is set to hidden. This is to make everything within the container NOT set to hidden  */
/* This is done so content in the inside page can be selected */
.flip-card > * {
  visibility: visible;
}

/* An inner container to hold the flip card. This excludes the inside page */
.flip-card__container {
  height: 100%;
  position: absolute;
  right: 0;
  transform-origin: left;
  transform-style: preserve-3d;
  transition: all 1s ease;
  width: 100%;
}

.card-front,
.card-back {
  backface-visibility: hidden;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* Styling for the front side of the flip card */

/* container for the front side */
.card-front {
  background-color: #fafbfa;
  height: 15rem;
  width: 15rem;
}

/* Front side's top section */
.card-front__tp {
  align-items: center;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 57% 90%, 50% 100%, 43% 90%, 0 90%);
  display: flex;
  flex-direction: column;
  height: 12rem;
  justify-content: center;
  padding: .75rem;
}

.card-front__tp--city {
  background: linear-gradient(
    to bottom,
    #9be9ff,
    #307c90
  );
}

.card-front__tp--ski {
  background: linear-gradient(
    to bottom,
    #9be9ff,
    #307c90
  );
}

.card-front__tp--beach {
  background: linear-gradient(
    to bottom,
    #9be9ff,
    #307c90
  );
}

.card-front__tp--camping {
  background: linear-gradient(
    to bottom,
    #9be9ff,
    #307c90
  );
}

/* Front card's bottom section */
.card-front__bt {
  align-items: center;
  display: flex;
  justify-content: center;
}

/* Styling for the back side of the flip card */

.card-back {
  background-color: #fafbfa;
  transform: rotateY(180deg);
}

/* Specifically targeting the <video> element */
.video__container {
  clip-path: polygon(0% 0%, 100% 0%, 90% 50%, 100% 100%, 0% 100%);
  height: auto;
  min-height: 100%;
  object-fit: cover;
  width: 100%;
}

/* Inside page */

.inside-page {
  background-color: #fafbfa;
  box-shadow: inset 20rem 0px 5rem -2.5rem rgba(0,0,0,0.25);
  height: 100%;
  padding: 1rem;
  position: absolute;
  right: 0;
  transition: all 1s ease;
  width: 15rem;
  z-index: 1;
}

.inside-page__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center; 
  width: 100%;
}

/* Functionality ====================================*/

/* This is to keep the card centered (within its container) when opened */
.cardfl:hover {
  box-shadow:
  -.1rem 1.7rem 6.6rem -3.2rem rgba(0,0,0,0.75);
  width: 30rem;
}

/* When the card is hovered, the flip card container will rotate */
.cardfl:hover .flip-card__container {
  transform: rotateY(-180deg);
}

/* When the card is hovered, the shadow on the inside page will shrink to the left */
.cardfl:hover .inside-page {
  box-shadow: inset 1rem 0px 5rem -2.5rem rgba(0,0,0,0.1);
}

/* Footer ====================================*/
/* 
.footer {
  background-color: #333;
   margin-top: 3rem;
  padding: 1rem 0;
  width: 100%;
}

.footer-text {
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
} */

.pro{
  font-size: 4rem;
  color: #fff;
text-align: center;
animation: proj 1s ease-in-out infinite alternate;
margin-top: 2rem;
}


@-webkit-keyframes proj {
from{
  text-shadow: 0 0 20px #fff, 0 0 30px #087990, 0 0 40px #087990, 0 0 50px #087990, 0 0 60px #087990, 0 0 70px #087990, 0 0 80px #087990;
}
to {
  text-shadow: 0 0 10px #fff, 0 0 20px  #fff, 0 0 30px #fbff00, 0 0 40px #fbff00, 0 0 50px #fbff00, 0 0 60px #fbff00, 0 0 70px #fbff00;
}

}
.card-area{
  margin: 0%;
  padding: 0;
}